@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Poppins */

:root {
    --font-principal: "Poppins";
    --cor-principal: #202020;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--font-principal);
}

a{
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.container {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.hero {
    margin-top: 50px;
    width: 40%; 
    height: 500px;
}

.hero form {
    justify-content: center;
    width: 100%;
    border: solid 2px #000;
    align-items: center;
    height: 100%;
    box-shadow: var(--cor-principal) 5px 6px 4px;
    transition: ease-in-out .2s;
}

.hero form:hover {
    transform: translateY(-1px);
    box-shadow: var(--cor-principal) 8px 10px 4px;
}


.hero form h1 span {
    color: #000;
}

.container .hero form .fa-arrow-left {
    margin-top: 15%;
    margin-left: 15%;
    font-size: 35px;
    color: #000;
    transition: ease-in-out .5s;
    transform: translate(-50%,-50%);
}

.container .fa-arrow-left:hover {
    cursor: pointer;
    box-shadow: var(--cor-principal) 5px 1px 0px;
    transform: translateX(-5px);
}

.gp1{
    text-align: center;
    width: 70%;
    margin-top: 5%;
    margin-left: 50%;
    transform: translate(-50%,-50%);
}

.gp1 p {
    font-size: 4px;
}

.hero form .gp1 h1 {
    font-weight: bolder;
    font-size: 25px;
    color: var(--cor-principal);
}

.fa-apple-whole {
    font-size: 20px;
}

.hero form .gp1 hr{
    width: 60%;
    margin-left: 50%;
    margin-bottom: 10px;
    border-color: #000;
    transform: translateX(-50%);
}

.gp2 {
    margin-top: -40px;
}


.hero form input[type="text"],
.hero form input[type="email"],
.hero form input[type="password"] {
    margin-left: 50%;
    width: 60%;
    margin-top: 10px;
    padding: 10px;
    box-shadow: var(--cor-principal) 3px 3px 0px;
    border: solid 1px var(--cor-principal);
    transform: translateX(-50%);
}

.hero form input[type="submit"] {
    width: 40%;
    margin-left: 50%;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid var(--cor-principal);
    border-radius: 3px;
    padding: 1rem 2rem;
    display: inline-block;
    font-family: Verdana;
    letter-spacing: -1px;
    user-select: none;
    color: var(--cor-principal);
    box-shadow: var(--cor-principal) 3px 3px 0px;
    transition: all .3s ease-in-out;
    transform: translateX(-50%);
}

.hero form input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: var(--cor-principal) 4px 5px 0px;
}

p {
    margin-top: 10px;
    text-align: center;
    margin-left: 50%;
    width: 50%;
    transform: translateX(-50%);
}
